body {
    margin: 0;
    font-family: Sans Serif;
    background: #F8F8FF;
    color: #191970;
}

h1, h2, h3 {
    font-family: Futura;
    color: #FFFFFF;
}

a {
    color: #000000;
    text-decoration: none;
}

section {
    padding: 3rem;
}

button {
    background: #FFFFFF;
    color: #fff;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}